[project]
name = "tiktok_uploader"
version = "0.0.1"
authors = [
  { name="William Kaiser", email="wkaisertexas@gmail.com" },
]
description = "An automatic TikTok video uploader w/ CLI"
readme = "README.md"
requires-python = ">=3.11"
keywords = [
	"Selenium",
	"Automation",
	"TikTok"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = [
	"selenium",
	"webdriver_manager",
  "toml"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build" 

[project.optional-dependencies]
test = [
  "pytest",
]

# [tool.hatch.envs.test.matrix]
# python = ["38", "39"]

[project.scripts]
tiktok_uploader = "tiktok_uploader.cli:cli"
tiktok_auth = "tiktok_uploader.cli:auth"

[project.gui-scripts]
tiktok_uploader = "tiktok_uploader.cli:cli"
tiktok_auth = "tiktok_uploader.cli:auth"

[project.urls]
"Source Code" = "https://github.com/wkaisertexas/tiktok-uploader"
"Bug Tracker" = "https://github.com/wkaisertexas/tiktok-uploader/issues"
